/* Reset */
/*
* {
  margin: 0px;
  padding: 0px;
}
*/

/* Global */
body {
  font: 15px/1.5 Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  /*background-color: #323232;*/
  background: #414141;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 80%;
  min-height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

ul {
  margin: 0px;
  padding: 0px;
}

.button_1 {
  background-color: #00e6e6;
  padding: 0px 5px 0px 5px;
  color: #000000;
  border: none;
}

.img-1 {
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #00e6e6;
}

.box-1 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
  padding: 5px 10px 1px 10px;
  background-color: #0f0f0f;
  color: #fff;
}

.box-1 h1 {
  color: #00e6e6;
  padding: 0px;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: bold;
}

/* Header */
header {
  background-color: #0f0f0f;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #00e6e6 3px solid;
  width: 100%;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header .socials {
  display: inline;
}

header li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

header .branding {
  float: left;
}

header .branding h1 {
  padding-right: 20px;
  margin: 0;
  display: inline;
}

header #clockbox {
  color: white;
  display: inline;
  text-align: center;
  font-size: 20px;
  padding-left: 5%;
  box-sizing: border-box;
}

header nav {
  display: inline;
  float: right;
}

header .current a {
  color: #00e6e6;
  font-weight: bold;
  text-decoration: underline;
}

header a:hover {
  color: #00e6e6;
}

header .fa:hover {
  text-decoration: none;
}

header .fa {
  padding: 0px;
  font-size: 40px;
}

/* Google */
#google-bar img {
  display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 1em;
}

#google-bar input {
  display: block;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  background: black;
  border: 2px solid #00e6e6;
  text-indent: 10px;
  margin: auto;
  color: #fff;
}

#google-bar button {
  display: block;
  margin: auto;
  margin-top: 1%;
}

/* Footer */
footer {
  font-family: Helvetica, sans-serif;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  background-color: #0f0f0f;
}

/* Mobile */
@media (max-width: 768px) {
  #google-bar img {
    width: 40%;
    margin: auto;
    margin-top: 10%;
  }

  header nav {
    float: none;
  }

  header h1 {
    clear: both;
    text-align: center;
    display: block;
  }

  header ul {
    text-align: center;
  }

  header .socials {
    width: 100%;
    display: block;
    text-align: center;
  }

  header #clockbox {
    clear: both;
    display: block;
    width: 100%;
  }

  .container .branding {
    float: none;
    text-align: center;
  }
}
