/* Global */
body {
  font: 15px/1.5 Helvetica, Arial, sans-serif;
  background: #d8d8d8;
}

ul {
  margin: 0px;
  padding: 0px;
}

.button_1 {
  background-color: rgb(185, 26, 26);
  padding: 0px 10px 0px 10px;
  color: #000000;
  border: none;
}

.img-1 {
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(185, 26, 26);
}

.box-1 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
  padding: 5px 10px 1px 10px;
  background-color: #1b1b1b;
  color: #fff;
}

.box-1 h2 {
  color: rgb(185, 26, 26);
  padding: 0px;
  margin-bottom: 5px;
  font-size: 24px;
  text-transform: bold;
}

/* Header */
header {
  background-color: #1b1b1b;
  color: #ffffff;
  padding-top: 30px;
  min-height: 90px;
  border-bottom: rgb(185, 26, 26) 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header .socials {
  display: inline;
}

header li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

header .branding {
  float: left;
  color: rgb(185, 26, 26);
}

header .branding h1 {
  padding-right: 20px;
  font-size: 30px;
  margin: 0;
  display: inline;
}

header #clockbox {
  color: white;
  display: inline;
  text-align: center;
  font-size: 1.3em;
  margin-left: 5%;
}

header nav {
  float: right;
  display: inline;
}

header .current a {
  color: rgb(185, 26, 26);
  font-weight: bold;
}

header a:hover {
  color: rgb(185, 26, 26);
}

header .fa:hover {
  text-decoration: none;
}

header .fa {
  padding: 0px;
  font-size: 40px;
}

/* Google */
#google-bar img {
  display: block;
  width: 30%;
  margin-left: 35%;
  margin-top: 10%;
  margin-bottom: 10px;
}

#google-bar input {
  display: inline-block;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  background: #1b1b1b;
  border: 2px solid rgb(185, 26, 26);
  text-indent: 10px;
  color: #fff;
}

#google-bar button {
  display: inline-block;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

#searchbar {
  display: inline;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}
.footer {
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 25px;
  color: #f3f3f3;
  border-top: rgb(185, 26, 26);
  background-color: #0f0f0f;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  #google-bar img {
    margin-top: 25%;
    width: 45%;
    margin-left: 25%;
  }

  header nav li {
    display: block;
  }

  header nav {
    float: none;
  }

  header h1 {
    clear: both;
    text-align: center;
    display: block;
  }

  .container .branding {
    float: none;
    text-align: center;
  }

  #searchbar input {
    width: 100%;
  }

  #searchbar button {
    display: block;
    margin: 10px auto;
  }
}

/* Tablet */
@media only screen and (max-width: 1320px) {
  #google-bar img {
    margin-top: 13%;
  }

  header nav {
    float: none;
  }

  header ul {
    text-align: center;
  }

  header .socials {
    width: 100%;
    display: block;
    text-align: center;
  }

  header #clockbox {
    clear: both;
    display: block;
    width: 90%;
  }

  .container .branding {
    float: none;
    display: block;
    text-align: center;
  }
}
