/* Reset */
/*
* {
  margin: 0px;
  padding: 0px;
}
*/

/* Global */
body {
  font: 15px/1.5 Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #323232;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0px;
  padding: 0px;
}

.button_1 {
  background-color: #00e6e6;
  padding: 0px 5px 0px 5px;
  color: #000000;
  border: none;
}

/* Header */
header {
  background-color: #0f0f0f;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #00e6e6 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header .socials {
  display: inline;
}

header li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  padding-right: 20px;
  margin: 0;
  display: inline;
}

header #clockbox {
  color: white;
  display: inline;
  text-align: center;
  font-size: 20px;
  padding-left: 5%;
  box-sizing: border-box;
}

header nav {
  float: right;
  display: inline;
}

header .current a {
  color: #00e6e6;
  font-weight: bold;
  text-decoration: underline;
}

header a:hover {
  color: #00e6e6;
  font-weight: bold;
}

header .fa:hover {
  text-decoration: none;
}

header .fa {
  padding: 0px;
  font-size: 40px;
}

/* Google */
#google-bar img {
  display: block;
  margin: auto;
  margin-top: 10%;
}

#google-bar input {
  display: block;
  width: 80%;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid darkgrey;
  margin: auto;
  color: black;
}

#google-bar button {
  display: block;
  margin: auto;
  margin-top: 1%;
}

@media (max-width: 1080px) {
  #google-bar img {
    width: 80%;
    margin: auto;
    margin-top: 10%;
  }

  header nav {
    float: none;
  }

  header h1 {
    clear: both;
    display: block;
  }

  header ul {
    text-align: center;
  }

  header .socials {
    width: 100%;
    display: block;
    text-align: center;
  }

  header #clockbox {
    clear: both;
    display: block;
    width: 100%;
  }
}
